* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(72, 87, 169)
}
main {
    display: flex;
}

section {
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(24, 29, 54);
}
.bienvenida {
    margin: 50px;
    width: 40%;
    height: auto;
    background-color: hsla(0, 0%, 100%, 0.63);
}
.img {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    width: 100%;
}
img {
    border-radius: 50%;
    width: 65%;
    border: 1px #ffffff dashed;
    border-width: 4px;
}
.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2 {
    padding: 20px;
    font-weight: 30;
    color: #ffffff;
    text-shadow: 0 0 30px #ffffff;
    text-decoration: underline;

}
p{
    text-align: center;
    margin: 10px 0;
}
.btnLista{
    display: flex;
}
.lista {
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    margin: auto;
    border: 1px solid red;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(72, 87, 169);
    text-decoration: none;
    color: #ffffff;

}
.lista:hover{
    background-color: #fff;
    color:rgb(72, 87, 169);
    text-decoration: underline;
}

.tareas {
    margin: 50px;
    width: 90%;
    height: auto;
    background-color: hsla(0, 0%, 100%, 0.63);
}
.agregar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
li{
    padding: 5px;
}
h3{
    font-size: 30px;
    text-align: center;
    padding: 25px 0;
}
.mensaje{
    display: flex;
    width: 90%;
    margin: auto;
    background-color: hsla(0, 0%, 100%, 0.63);
    height: 35px;
    align-items: center;
    padding: 0 10px;
}
.teclado{
    width: 70%;
    margin: auto;
    display: flex;
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
}
.letra{
    width: 50px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 100%, 0.63);
}
.letra:hover{
   background-color: rgb(72, 87, 169);
   color: white;
}
.espacio{
    width: 105px;
}
.fila{
    padding: 3px;
}
.cBtn{
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}
button{
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}
.aceptar{
    padding: 5px;
}
.aceptar:hover{
    background-color: rgb(72, 87, 169);
    color: white;
}
.tarea{
    width: 90%;
    margin: auto;
}
.botones{
    display: flex;
    justify-content: center;
    align-content: center;
}
.tachar{
    text-decoration: line-through;
}

@media screen and (max-width:1340px){
   .teclado{
        width: 80%;
   }
}
@media screen and (max-width:1266px){
    .bienvenida, .tareas{
        margin: 25px;
    }
    .lista{
        width: 40%;
    }
}
@media screen and (max-width:1092px){
    .teclado{
        width: 90%;
    }
}
@media screen and (max-width:980px){
    .bienvenida, .tareas{
       margin: 20px;
    }
    .teclado{
        width: 95%;
    }
}
@media screen and (max-width:920px){
    main{
        flex-direction: column;
    }
    .bienvenida, .tareas{
        margin: 25px auto;
    }
}
@media screen and (max-width:655px){
    .bienvenida{
        width: 50%;
    }
    .tareas{
       width: 95%;
    }
}
@media screen and (max-width:614px){
    .letra{
        width: 45px;
        height: 25px;
    }
}
@media screen and (max-width:552px){
    .fila{
        display: flex;
        padding: 3px;
    }
    .letra{
        margin: 0 3px;
    }
    .tareas{
        width: 98%;
    }
}
@media screen and (max-width:522px){
    .teclado{
        width: 100%;
    }
    .letra{
        margin: 0 2px;
        width: 40px;
    }
}
@media screen and (max-width:492px){
    .bienvenida{
        width: 60%;
    }
}
@media screen and (max-width:456px){
    .letra{
        width: 35px;
    }
}
@media screen and (max-width:412px){
    .lista{
        width: 45%;
    }
    .letra{
        width: 30px;
        height: 30px;
    }
    .bienvenida{
        width: 70%;
    }
}
@media screen and (max-width:350px){
    .letra{
        width: 28px;
        height: 28px;
    }
}
@media screen and (max-width:338px){
    .letra{
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width:306px){
    .letra{
        width: 23px;
        height: 23px;
    }
    .lista{
        width: 45%;
        text-align: center;
    }
}

